body {
  background: rgb(250, 249, 235);
  max-width: 960px;
  margin: 40px auto;
  padding: 0 20px 0 20px;
}

#app {
  width: 100%;
  height: auto;
}

button {
  margin: 5px 5px 5px 0px;
}

.box {
  width: 400px;
  padding: 100px 0;
  margin: 20px;
  text-align: center;
  background: #ddd;
  display: inline-block;
}

ul.books {
  padding-right: 20px;
  list-style-type: none;
  padding-left: 0;
}

ul.books > li {
  width: 100%;
}

/* h3.book {
  margin-bottom: -5px;
} */

p.book.author {
  margin-top: -40px;
}

div.book.container {
  width: 100%;
  padding: 20px 10px 20px 10px;
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.book.container img {
  max-height: 200px;
}

div.book.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.book.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fav div.book.container {
  background-color: rgb(255, 182, 237);
  border-style: solid;
  border-width: 2px;
  border-color: hotpink;
  border-radius: 5px;
  color: black;
}
