#app {
  width: 100%;
  height: auto;
}

button {
  margin: 5px 5px 5px 0px;
}

.box {
  width: 400px;
  padding: 100px 0;
  margin: 20px;
  text-align: center;
  background: #ddd;
  display: inline-block;
}
